<p id="notice"><%= notice %></p>

<p>
  <b>Attr1:</b>
  <%= @an_entity.attr1 %>
</p>

<p>
  <b>Attr2:</b>
  <%= @an_entity.attr2 %>
</p>


<%= link_to 'Edit', edit_an_entity_path(@an_entity) %> |
<%= link_to 'Back', an_entities_path %>
